<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recording</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="recording.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
</head>
<body>

<button id="record" type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-record"></span> Record
</button>

<button id="stop" type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-stop"></span> Stop
</button>

</body>
</html>